* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 244, 230);
}

/* navbar */

nav {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  border-bottom: 5px solid rgb(193, 163, 163);
  background-color: rgb(221, 190, 190);
  border-radius: 0 0 5px 5px;
  box-shadow: 5px 5px 5px rgb(221, 190, 190);
  align-items: center;
}

.links {
  display: flex;
  gap: 60px;
}

nav p {
  font-size: 25px;
  font-weight: 700;
  color: rgb(183, 103, 103);
  text-shadow: 5px 5px rgb(193, 163, 163);
}

a {
  text-decoration: none;
  color: rgb(183, 103, 103);
  font-weight: 300;
}

a:hover {
  color: rgb(138, 63, 63);
}

/* error */

.error {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  color: rgb(138, 63, 63);
}

.error p:first-child {
  font-size: 150px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
}

.error p:nth-child(2){
  font-size: 40px;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

.error p:last-child {
  font-size: 25px;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}