* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 244, 230);
}

/* navbar */

nav {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    border-bottom: 5px solid rgb(193, 163, 163);
    background-color: rgb(221, 190, 190);
    border-radius: 0 0 5px 5px;
    box-shadow: 5px 5px 5px rgb(221, 190, 190);
    align-items: center;
}

.links {
    display: flex;
    gap: 60px;
}

nav p {
    font-size: 25px;
    font-weight: 700;
    color: rgb(183, 103, 103);
    text-shadow: 5px 5px rgb(193, 163, 163);
}

a {
    text-decoration: none;
    color: rgb(183, 103, 103);
    font-weight: 300;
}

a:hover {
    color: rgb(138, 63, 63);
}

/* form */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: fit-content;
    margin: auto;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form input {
    width: 500px;
    padding: 10px 5px;
    border-radius: 10px;
    border: 3px solid rgb(193, 163, 163);
    color: rgb(126, 117, 117);
}

input[type="submit"] {
    border: 5px solid rgb(193, 163, 163);
    background-color: rgb(221, 190, 190);
    font-weight: 600;
    font-size: 20px;
    color: rgb(183, 103, 103);
}

form label {
    color: rgb(183, 103, 103);
    font-weight: 400;
    font-size: 18px;
}

/* create new todo toast */

.toast {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 250px;
    color: white;
    padding: 20px 20px;
    line-height: 50px;
    border-radius: 10px;
    display: none;
}

.toast div {
    display: flex;
    justify-content: space-between;
}

/* save button */

.save {
    width: 500px;
    padding: 10px 5px;
    border: 5px solid rgb(193, 163, 163);
    background-color: rgb(221, 190, 190);
    font-weight: 600;
    font-size: 20px;
    color: rgb(183, 103, 103);
    border-radius: 10px;
}

/* loading */

.loading {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  
  .spinner {
    width: 40px;
    height: 40px;
    border: 5px dashed rgb(200, 200, 210);
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    animation: load 2s infinite;
  }
  
  @keyframes load {
    100% {
      transform: rotate(360deg);
    }
  }



