* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 244, 230);
}


/* navbar */

nav {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    border-bottom: 5px solid rgb(193, 163, 163);
    background-color: rgb(221, 190, 190);
    border-radius: 0 0 5px 5px;
    box-shadow: 5px 5px 5px rgb(221, 190, 190);
    align-items: center;
}

.links {
    display: flex;
    gap: 60px;
}

nav p {
    font-size: 25px;
    font-weight: 700;
    color: rgb(183, 103, 103);
    text-shadow: 5px 5px rgb(193, 163, 163);
}

a {
    text-decoration: none;
    color: rgb(183, 103, 103);
    font-weight: 300;
}

a:hover {
    color: rgb(138, 63, 63);
}


/* todos */

.todoDiv {
  width: 500px;
  border: 5px solid rgb(193, 163, 163);
  background-color: rgb(245, 220, 220);
  border-radius: 20px 0 0 0;
  margin: auto;
  padding: 15px;
  margin-bottom: 20px;
}

.todoDiv label {
    color: rgb(183, 103, 103);
    font-size: 25px;
}

.todoDiv p {
    color: rgb(145, 133, 133);
    font-size: 18px;
}

.checkTodo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.checkTodo p {
    color: rgb(145, 133, 133);
    font-size: 15px;
}

.todoTop {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
}

.todoTop input {
    width: 20px;
    height: 20px;
}

.edit-delete {
  display: flex;
  gap: 20px;
}

.edit-delete i {
    font-size: 20px;
}

.editIcon {
    color: green;
}

.deleteIcon {
    color: red;
}

/* delete modal */

.deleteTodo {
    width: 20%;
    height: fit-content;
    border: 1px solid black;
    background-color: rgb(208, 195, 195);
    position: fixed;
    top: 300px;
    right: 40%;
    bottom: 0;
    left: 40%;
    padding: 10px;
}

.deleteTop {
    display: flex;
    align-items: center;
    gap: 10px;
}

.deleteTop i {
    color: red;
}

.deleteCenter {
    padding: 10px 0;
}

.deleteCenter2 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
}

.deleteBottom {
    text-align: center;
    padding-top: 10px;
}

button {
    width: 45%;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.pageDiv {
    display: flex;
    width: fit-content;
    margin: auto;
}

.pageNumber {
    border: 1px solid black;
    padding: 3px;
}

.pageDiv .pageNumber:first-child {
    border-radius: 9px 0 0 9px;
}

.pageDiv .pageNumber:last-child {
    border-radius: 0 9px 9px 0;
}